rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow access by request.auth!=null for debugging/playing?
      // For now, let's keep it restricted to authenticated users for read, 
      // but write is strictly backend (Admin SDK bypasses this).
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
